<div class="modal-body">
  <h2>Log in</h2>
  <%= form_for(:association_admin, :url => session_path(:association_admin)) do |f| %>
      <%= f.text_field :email, placeholder: 'Enter your email', class: 'form-control' %>
      <br>
      <%= f.password_field :password, placeholder: 'Enter your password', class: 'form-control' %>
      <br>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <br>
      <%= f.submit 'Sign in', class: 'btn btn-primary btn-block' %>
      <br>
      <%= link_to "Forgot your password?", new_password_path(:association_admin) %>
  <% end %>
</div>
